html,
body  {
	height: 100vh;
	width: 100vw;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0px;
}

.mid,
.grid {
	width: 99vw;
	margin: 0px;
}

.grid {
    display: grid;
	grid-auto-flow: dense;
	place-content: space-around;
	gap: 1vw;
	
	grid-template-columns: repeat(2, 48vw);
	grid-template-rows: min-content;
	
	margin: auto;
}

.grid-item {
	grid-column: auto / span 1; grid-row: auto / span 1;
	text-align: left;
	overflow:auto;
	
	padding-left: 5px;
	
	width: 48vw;
	height: 48vw;
}

.grid-item-portrait {
	grid-row: auto / span 2; overflow-y: auto;
	height: 97vw;
	width: 48vw;
}

.grid-item-landscape {
	grid-column: auto / span 2;
	width: 97vw;
	height: 48vw;
}

.grid-item:nth-child(even) {
	background-color: #a6ced8;
	color: #7b657b;
}

.grid-item:nth-child(odd) {
	background-color: #D9C8A7;
	color: #7b657b;
}

.grid-item h2 {
	text-align: center;
}

.grid-item img {
	max-width: 45%;
	max-height:45%;
	border-radius: 12px;
	margin: auto;
}

.bgdark h2,
.bgdark small {
	color: white;
}


/******************************************
 MEDIA QUERIES
******************************************/

@media only screen and (min-width: 950px) {
	.grid {
		margin: auto;
		grid-template-columns: 25vw 25vw 25vw 25vw;
		grid-template-rows: min-content;
	}
	
	.grid-item {
		height: 25vw;
		width: 25vw;
	}
	
	.grid-item-landscape {
		width: 51vw;
		min-height: 25vw;
	}
	
	.grid-item-portrait {
		height: 51vw;
		width: 25vw;
	}
}
	